:root{
    --Dark-cyan: hsl(158, 36%, 37%);
    --Cream: hsl(30, 38%, 92%);
    --Very-dark-blue: hsl(212, 21%, 14%);
    --Dark-grayish-blue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);

    --font1: 'Montserrat', sans-serif;
    --font2: 'Fraunces', serif;

    font-size: 14px;
}

*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--Cream);
    height: 100%;
    width: 100%;
}

.card{
    background-color: var(--White);
    margin: auto;
    width: 87vw;
    height: 93vh;
    border-radius: 10px;
    overflow: hidden;
    display: grid;
    grid-template-rows: 250px 1fr;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card__img{
    background-image: url(images/image-product-mobile.jpg);
    background-size: cover;
    border-radius: 10px 10px 0 0;
}

.card__text{
    padding: 22px;
}

.card__pretitle{
   font-family: var(--font1);
   letter-spacing: 4px;
   font-weight: 700;
   font-size: 15px;
   color: var(--Dark-grayish-blue);
   opacity: 0.6;
}

.card__title{
    font-family: var(--font2);
    line-height: 30px;
    padding: 12px 0;
    font-size: 33px;
}

.card__content{
    font-family: var(--font1);
    color: var(--Dark-grayish-blue);
    opacity: 0.6;
    font-weight: 700;
    line-height: 23px;
    padding: 6px 0;
}

.card__pricecontainer{
    display: flex;
    padding: 10px 0;
}

.card__price{
    font-family: var(--font2);
    color: var(--Dark-cyan);
    font-size: 33px;
}

.card__pricest{
    place-self: center ;
    margin: 0 20px;
    font-family: var(--font1);
    color: var(--Dark-grayish-blue);
    opacity: 0.6;
    text-decoration: line-through;
    font-weight: 700;
    font-size: 14px;
}

.card__cta{
    
    width: 100%;
    height: 50px;
    background-color: var(--Dark-cyan);
    border-radius: 7px;
    display: flex;
    padding: 15px 0;
   justify-content: center;
   
   color: var(--White);
   text-decoration: none;
}

.card__ctaimg{
    align-self: center;
}

.card__ctatext{
    align-self: center;
    font-weight: 700;
    font-family: var(--font1);
    font-size: 14px;
    padding: 0 10px;
}

.attribution{
    font-size: 1.5vh;
    text-align: center;
    color: hsl(228, 45%, 44%);
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%);
}

@media (min-width: 1440px) {

    .card{
        margin: auto;
        display: grid;
        width: 41vw;
        height: 56vh;
        
        grid-template-columns: 50%;
        grid-template-areas: "img text";
        align-self: stretch;
    }

    .card__img{
        background-image: url(images/image-product-desktop.jpg);
        background-size: cover;
        border-radius: 10px 0 0 10px;
        height: 480px;
    }

    .card__text{
        padding: 35px 33px;
    }

    .card__pretitle{
        letter-spacing: 6px;
    }

    .card__title{
        line-height: 35px;
        padding: 19px 0;
        font-size: 40px;
    }

    .card__content{
        line-height: 24px;
        padding: 8px 0;
    }

    .card__cta{
        padding: 0px 0;
        margin-top: 10px;
    }
}