:root{
    --Dark-cyan: hsl(158, 36%, 37%);
    --Cream: hsl(30, 38%, 92%);
    --Very-dark-blue: hsl(212, 21%, 14%);
    --Dark-grayish-blue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);

    --font1: 'Montserrat', sans-serif;
    --font2: 'Fraunces', serif;

    /* font-size: 14vh; */
}

*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--Cream);
    height: 100%;
    width: 100%;
}

.card{
    background-color: var(--White);
    margin: auto;
    width: 87vw;
    /* height: 92vh; */
    border-radius: 10px;
    /* overflow: hidden; */
    /* display: grid; */
    /* grid-template-rows: 250px 1fr; */
    position: absolute;
    top: 50.5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card__img{
    height: 36vh;
    background-image: url(images/image-product-mobile.jpg);
    background-size: cover;
    border-radius: 10px 10px 0 0;
}

.card__text{
    padding: 3vh 6vw;
}

.card__pretitle{
   font-family: var(--font1);
   letter-spacing: 1vw;
   font-weight: 700;
   font-size: 2.4vh;
   color: var(--Dark-grayish-blue);
   opacity: 0.6;
}

.card__title{
    font-family: var(--font2);
    line-height: 5vh;
    padding: 2.08vh 0;
    font-size: 4.8vh;
}

.card__content{
    font-family: var(--font1);
    color: var(--Dark-grayish-blue);
    opacity: 0.6;
    font-weight: 700;
    font-size: 2.05vh;
    line-height: 3.5vh;
    /* padding: 0vh 0; */
}

.card__pricecontainer{
    display: flex;
    padding: 2.5vh 0;
}

.card__price{
    font-family: var(--font2);
    color: var(--Dark-cyan);
    font-size: 4.85vh;
}

.card__pricest{
    place-self: center ;
    margin: 0 0 0 4.5vw;
    font-family: var(--font1);
    color: var(--Dark-grayish-blue);
    opacity: 0.6;
    text-decoration: line-through;
    font-weight: 700;
    font-size: 1.9vh;
}

.card__cta{
    width: 100%;
    height: 7.2vh;
    background-color: var(--Dark-cyan);
    border-radius: 7px;
    display: flex;
    /* margin-top: 0vh; */
    padding: 1vh;
    justify-content: center;
    color: var(--White);
    text-decoration: none;
}

.card__ctaimg{
    align-self: center;
    height: 2.3vh;
}

.card__ctatext{
    align-self: center;
    font-weight: 700;
    font-family: var(--font1);
    font-size: 2.1vh;
    padding-left: 3vw;
}

.attribution{
    font-size: 2vh;
    text-align: center;
    color: hsl(228, 45%, 44%);
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%);
}

@media (min-width: 1440px) {

    .card{
        /* margin: auto; */
        display: grid;
        width: 41vw;
        /* height: 56vh; */
        grid-template-columns: 50%;
        grid-template-areas: "img text";
        align-self: stretch;
        top: 50%;
    }

    .card__img{
        background-image: url(images/image-product-desktop.jpg);
        background-size: cover;
        border-radius: 10px 0 0 10px;
        height: 100%;
    }

    .card__text{
        padding: 3.5vh 2vw;
    }

    .card__pretitle{
        font-size: 2vh;
        letter-spacing: 0.26vw;
    }

    .card__title{
        line-height: 4vh;
        padding: 2vh 0;
        padding-right: 3vw;
        font-size: 4vh;
    }

    .card__content{
        line-height: 2.9vh;
        /* letter-spacing: -0.1vw; */
        padding: 1.4vh 1vw 1.4vh 0;
        font-size: 1.7vh;
    }

    .card__pricecontainer{
        padding: 1.5vh 0;
    }

    .card__price{
        font-size: 4.1vh;
    }

    .card__pricest{
        margin: 0 0 0 1.2vw;
        font-size: 1.6vh;
    }

    .card__cta{
        /* padding: 1vh; */
        margin-top: 1.7vh;
        height: 6vh;
    }

    .card__ctaimg{
        height: 2vh;
    }

    .card__ctatext{
        font-size: 1.75vh;
        padding-left: 0.7vw;
    }

    .attribution {
        font-size: 1vw;
    }
}